# Python cache
__pycache__/
*.py[cod]

# Environment
.env
*.env
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Datasets and models
data/
results/
*.ckpt
*.bin
*.safetensors
*.pt

# Logs
*.log
runs/

# Hugging Face cache
~/.cache/huggingface/
*.jsonl

# VS Code
.vscode/

# MacOS
.DS_Store

# Checkpointing
checkpoint/